* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
}

p {
    margin: 10px;
    padding: 5px;
}

button {
    width: 80px;
    height: 30px;
    margin: 10px;
}

.no-display {
    display: none;
}

.no-visibility {
    visibility: hidden;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

section .display {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    min-width: 350px;
}

section .scores {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    width: 100%;
    min-width: 350px;
    margin: 10px 0;
}

.players-boxscore {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(189, 147, 99);
}

.players-boxscore-header {
    margin: 10px;
}

.players-boxscore-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    margin: 10px;
}

.players-boxscore-score span {
    font-size: 72px;
}

.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: burlywood;

}

.summary-players-round-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color:crimson;
    margin: 20px;
    font-size: 6em;
    text-transform: uppercase;
}

.summary-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.summary-body {
    overflow: auto;
    height: 250px;
    background-color: burlywood;
    margin: 10px 0;
}

.summary p {
    font-size: 16px;
    margin: 4px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
    section .display {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    section .display {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .player {
        flex-direction: column;
    }

    .computer {
        flex-direction: column-reverse;
    }

    .summary-players-round-selection {
        margin: 10px;
        width: 75px;
        height: 75px;
        font-size: 4em;
    }

    .summary-display {
        margin: 10px;
        font-size: 4em;
    }

    .summary-header {
        height: auto;
    }

    .players-boxscore-score {
        width: 75px;
        height: 75px;
    }

    .players-boxscore-score span {
        font-size: 4em;
    }

    .dashboard {
        margin: 10px;
    }

    h1 {
        margin: 5px;
        padding: 5px;
        font-size: 30px;
    }
    
    p {
        margin: 5px;
        padding: 5px;
    }

    .summary-body {
        overflow: auto;
        height: 200px;
        background-color: burlywood;
        margin: 10px 0;
    }

    button {
        margin: 5px;
    }
}